* {
  margin: 0;
  padding: 0;
}
h2 {
  font-weight: 600;
}
/* --- header part start*/
.header-section {
  background: #264653;
}
.login-btn {
  width: 70px;
  background: #e76f51;
  border-radius: 5px;
  padding-left: 1rem !important;
}
.purchase-modal {
  width: 150px;
  background: #e76f51;
  border-radius: 5px;
}
/* --- header part end */

/*----- featured part start-----*/
.feature-text {
  color: #e76f51;
  font-style: bold;
  font-size: 10px;
}
.underline {
  width: 60px;
  height: 1px;
  background: #e76f51;
}
.feature-section img {
  height: 245px;
  width: 290px;
}
.feature-img {
  filter: grayscale(100%);
}
/*------ featured part end ------*/

/*-----card start ----*/
.card-btn {
  width: 150px;
  background: #e76f51;
  border-radius: 5px;
  color: #fff;
  font-size: 18px;
}
.card-btn:hover {
  background: #fff;
  color: #e76f51;
  border: 1px solid #e76f51;
}
/*-----card end---*/

/*---clients part start -----*/
.clients-feedback span {
  color: #e76f51;
}
.user-img img {
  margin-top: 20px;
  height: 150px;
  width: 150px;
  border-radius: 50%;
}
.clients-feedback-text {
  color: #6c6c6c;
  font-size: 16px;
}
.fa-star {
  color: #e77c40;
}
.clients-feedback h5 {
  color: #23a6f0;
}
/*---clients part end -----*/

/*---- faq start -----*/
.faq span {
  color: #e76f51;
}
/*-----contact us start -----*/
.contact-us span {
  color: #e76f51;
}
/*---- search start -----*/
.search-section {
  background: #264653;
}
.search-option select {
  margin: 10px 20px;
  height: 40px;
  width: 150px;
  padding: 0 10px;
  border: 1px solid white;
  border-radius: 5px;
}
.search-btn {
  width: 150px;
  height: 45px;
  margin: 10px 20px;
  padding: 0 10px;
}
/*----footer start----*/
li {
  list-style-type: none;
  margin: 2px 8px;
}
a {
  text-decoration: none;
  color: #fff;
}
.footer-section p {
  margin-left: 36px;
}
